
@{
    ViewData["Title"] = "SitMe";
}
@model List<Restaurant>


    <div id="view-restaurants-cards" class="col-md">
        @*<div class="row">
        <div class="card-deck mb-4 text-center">*@
        @for (int i = 0; i < 3; i++) {
            <div class="row">
                <div class="card-deck mb-4 text-center">
                    @for (int j = 0; j < 3; j++)
                    {
                        var index = j + (i * 3);
                        if (index <= Model.Count - 1)
                        {
                            var restaurant = Model[index];

                            <div class="card mb-3 box-shadow">
                                <div class="card-body text-left">
                                    <img class="img-restaurant-list" src="~/images/restaurant_pictures/bar-1846137_1920.jpg" alt="Resto picture"/>
                                    <h3>@restaurant.Name</h3>
                                    <p class="tag-details-purple-font">
                                        @foreach (var tag in restaurant.Tags)
                                        {
                                            @tag.Name
                                            <span> | </span>
                                        }
                                    </p>
                                    <img class="float-left" height="25px" src="~/images/logos/location/imageedit_1_3379909790.png" alt="logoLocation">
                                    <p>@restaurant.City</p>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        }
    </div>
