@{
    ViewData["Title"] = "Create reservation";
}
@model DataAccessLibrary.Models.User


<div class="container">
  <div class="py-5 text-center">
    <h2>Name of Restaurant</h2>
    <p class="lead">[Street, nr, City]</p>
    <hr class="solid">
  </div>

  <div class="row">
    
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Reservation Details</h4>
      <form class="needs-validation" novalidate>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">First name</label>
            <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="username">Phone number</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">+48</span>
            </div>
            <input type="text" class="form-control" id="phonenumber" placeholder="" required>
            <div class="invalid-feedback" style="width: 100%;">
              Your phone number is required to confirm your reservation.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="email">Email <span class="text-muted">(Optional)</span></label>
          <input type="email" class="form-control" id="email" placeholder="">
          <div class="invalid-feedback">
            Please enter a valid email address for shipping updates.
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 mb-3">
            <label for="nrofguests">Nr of guests</label>
            <select class="custom-select d-block w-100" id="nrofguests" required>
              <option value="">2</option>
              <option>1</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid number.
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="date">Date</label>
            <select class="custom-select d-block w-100" id="date" required>
              <option value="">19/07/2020</option>
              <option>TBD</option>
            </select>
            <div class="invalid-feedback">
              Please provide a valid state.
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="time">Time</label>
            <select class="custom-select d-block w-100" id="time" required>
              <option value="">7:00 PM</option>
              <option>TBD</option>
            </select>
            <div class="invalid-feedback">
              Please provide a valid hours.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="optional">Optional informations <span class="text-muted">(Optional)</span></label>
          <input type="text" class="form-control" id="optional" placeholder="">
        </div>

        
        <hr class="mb-4">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="same-address">
          <label class="custom-control-label" for="same-address">I will remember to <b>confirm / cancel</b> my reservation 3 hours before appointment</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="save-info">
          <label class="custom-control-label" for="save-info">I have read and accept all terms</label>
        </div>
        
        <br>
        <button class="btn btn-primary btn-lg btn-block" 
        style="background-color: #8D55C6;  
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        font-size: 16px;
        width: 100%;
        font-weight: bold;" type="submit">Confirm Reservation</button>
      </form>
    </div>
  </div>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2020 SitMe</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/vendor/holder.min.js"></script>
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
    'use strict';

    window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');

      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>