
@{
    ViewData["Title"] = "Home Page";
}

<!---->
<div class="container">

    <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
            <h4>Filter by:</h4>
            <div class="list-group">
                <h6>Price</h6>
                <a href="#" class="list-group-item active">$</a>
                <a href="#" class="list-group-item">$$</a>
                <a href="#" class="list-group-item">$$$</a>
            </div>
            <div class="list-group">
                <h6>Cuisine</h6>
                <a href="#" class="list-group-item active">Polish</a>
                <a href="#" class="list-group-item">Italian</a>
                <a href="#" class="list-group-item">Mexican</a>
            </div>
            <div class="list-group">
                <h6>Occasion</h6>
                <a href="#" class="list-group-item active">Date</a>
                <a href="#" class="list-group-item">Casual</a>
                <a href="#" class="list-group-item">Birthday</a>
                <a href="#" class="list-group-item">Party</a>
            </div>
            <div class="list-group">
                <a href="#" class="list-group-item active">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
            </div>
        </div><!--/span-->

        <div class="col-12 col-md-9">

            <!-- Search form -->
            <form class="form-inline d-flex justify-content-center md-form form-sm active-purple active-purple-2 mt-2">
                <i class="fas fa-search" aria-hidden="true"></i>
                <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
                       aria-label="Search">
            </form>

            <div class="jumbotron">
                <h3>Placeholder for search bar</h3>
            </div>

            @for (int i = 0; i < 3; i++) {
                <div class="card-deck mb-3 text-center">
                    @for (int j = 0; j < 3; j++) {
                        <div class="card mb-3 box-shadow">

                            <div class="card-body text-left light-purple">
                                <img class="img-restaurant-list" src="~/images/restaurant_pictures/bar-1846137_1920.jpg" alt="Resto picture" />
                                <h3>The Best Restaurant</h3>
                                <p class="tag-details-purple-font">Indian | $$ | Casual, Date</p>
                                <img class="float-left" height="25px" src="images/logos/location/imageedit_1_3379909790.png" alt="logoLocation">
                                <p>Warsaw</p>
                            </div>
                        </div>
                    }
                </div><!--/row-->
            }

        </div><!--/span-->

    </div><!--/row-->

    <hr>

    <footer>
        <p>&copy; Company 2017</p>
    </footer>

</div><!--/.container-->
-->