
@{
    ViewData["Title"] = "Home Page";
}
@model User
<!---->
<div class="container">

    <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
            <h4>Filter by:</h4>
            <div class="list-group list-group-flush">
                <h6>Price</h6>
                <a href="#" class="list-group-item list-group-item-action ">$</a>
                <a href="#" class="list-group-item list-group-item-action  active">$$</a>
                <a href="#" class="list-group-item list-group-item-action ">$$$</a>
            </div>
            <br />
            <div class="list-group list-group-flush">
                <h6>Cuisine</h6>
                <a href="#" class="list-group-item list-group-item-action  active">Polish</a>
                <a href="#" class="list-group-item list-group-item-action ">Italian</a>
                <a href="#" class="list-group-item list-group-item-action ">Mexican</a>
            </div>
            <br />
            <div class="list-group list-group-flush">
                <h6>Occasion</h6>
                <a href="#" class="list-group-item list-group-item-action  active">Date</a>
                <a href="#" class="list-group-item list-group-item-action ">Casual</a>
                <a href="#" class="list-group-item list-group-item-action ">Birthday</a>
                <a href="#" class="list-group-item list-group-item-action ">Party</a>
            </div>
        </div><!--/span-->

        <div class="col-12 col-md-9">

            <!-- Search form -->
            <form class="form-inline active-purple active-purple-2 mt-2">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <input type="text" class="form-control" placeholder="nr of ppl" id="nbofppl">
                    </div>
                    <div class="form-group col-md-3">
                        <input type="text" class="form-control" placeholder="date" id="date">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" placeholder="City, Restaurant" id="sth">
                    </div>
                </div>
            </form>

            @for (int i = 0; i < 3; i++) {
                <div class="card-deck mb-3 text-center">
                    @for (int j = 0; j < 3; j++) {
                        <div class="card mb-3 box-shadow">

                            <div class="card-body text-left light-purple">
                                <img class="img-restaurant-list" src="~/images/restaurant_pictures/bar-1846137_1920.jpg" alt="Resto picture" />
                                <h3>The Best Restaurant</h3>
                                <p class="tag-details-purple-font">Indian | $$ | Casual, Date</p>
                                <img class="float-left" height="25px" src="images/logos/location/imageedit_1_3379909790.png" alt="logoLocation">
                                <p>Warsaw</p>
                            </div>
                        </div>
                    }
                </div><!--/row-->
            }

        </div><!--/span-->

    </div><!--/row-->

    <hr>

</div><!--/.container-->
