@{
    ViewData["Title"] = "Restaurant Profile";
}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>



    <br />
    <img class="tlo" src="~/images/restaurant_pictures/rest1.jpg"  alt="tlo">


    <div class="row">
        <div class="column left" style="background-color:rgb(255, 255, 255);">
            <form class="form--box" action="/action_page.php">
                <p style="font-family: Lao Muang Khong;font-style: normal;font-weight: bold;font-size: 24px;line-height: 28px;
            ">Reservation Form</p>
                <div class="col mb-3">
                    <select class="custom-select d-block w-100" for="nrofguests" id="nrofguests" required>
                        <option value="">Nr of guests</option>
                        <option>1</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select a valid number.
                    </div>
                </div>
                <div class="col mb-3">
                    <select class="custom-select d-block w-100" for="date" id="date" required>
                        <option value="">19/07/2020</option>
                        <option>TBD</option>
                    </select>
                    <div class="invalid-feedback">
                        Please provide a valid state.
                    </div>
                </div>
                <div class="col mb-3">
                    <select class="custom-select d-block w-100" for="time" id="time" required>
                        <option value="">7:00 PM</option>
                        <option>TBD</option>
                    </select>
                    <div class="invalid-feedback">
                        Please provide a valid hours.
                    </div>
                </div>

                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="materialChecked2" checked>
                    <label class="form-check-label" for="materialChecked2" style="font-size: small;">Show tables to share as well</label>
                </div>
                <button class="btn btn-primary btn-lg btn-block"
                        style="background-color: #8D55C6;
                            border: none;
                            color: white;
                            padding: 15px 32px;
                            text-align: center;
                            font-size: 16px;
                            width: 100%;
                            font-weight: bold;" type="submit">
                    Find Table
                </button>
                <br>
                <h3 style="font-size: 12px;">If you want to make a bigger reservation please choose option below</h3>
                <button class="btn btn-primary btn-lg btn-block"
                        style="background-color: #4e237b;
                            border: none;
                            color: white;
                            padding: 15px 32px;
                            text-align: center;
                            font-size: 16px;
                            width: 100%;
                            font-weight: bold;" type="submit">
                    Special Reservation
                </button>
            </form>
        </div>


        <div class="column middle" style="background-color:rgb(255, 255, 255);">
          <div class="upper">
              <h1>The Best Restaurant</h1>
              <i class='fas fa-map-marker-alt' style='font-size:18px;'></i>
              <h3>ul. Jana Kazimierza 12, Warszawa</h3>
              <hr class="solid">
          </div>
          <div class="bottom">
              <div class="left-inner">
                  <ul>
                      <li class="rest-profile-menu"><a href="#home">About</a></li>
                      <li class="rest-profile-menu"><a href="#news">Menu</a></li>
                      <li class="rest-profile-menu"><a href="#contact">Photos</a></li>
                  </ul>

                  <br><br>
                  <article class="rest-info">
                      <p style="text-align: justify; text-justify: inter-word;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                          <br><br>
                          Restaurant website:   <b>https://superrestauracja.pl</b></p>
                  </article>

                  <button class="button--tag">Tag 1</button>
                  <button class="button--tag">Tag 2</button>
                  <button class="button--tag">Tag 3</button>
                  <button class="button--tag">Tag 4</button>

                  <br><br><br>
                  <img class="smallphoto" src="table1.jpg"  alt="small">

                  <p>Some text..</p>
              </div>
              <div class="right-inner">
                  <div class="column right" style="background-color:#ccc;">
                        <h4>Good to know</h4>
                        <h2>Open hours</h2>
                        <p>1pm - 12am</p>
                        <h2>Parking</h2>
                        <p>No info</p>
                  
                      
                  </div>
              </div>
          </div>
        </div>
      </div>




