<html class="html-thank-you">
@{
    ViewData["Title"] = "Thank You!";
}
@model User
<div class="py-5 text-center">
        <h2>Your reservation is ready!</h2>
        <p class="lead">Thank You for booking via SitMe app. <br>Hope to see You soon!</p>
        <h6>Please do not forget to confirm or cancel<br>your visit up to 3 hours before the meeting</h6>
      </div>